.hotspot-wrapper {
  position: relative;
  width: 100%;
}

.hotspot {
  text-align: center;
  display: flex;
  gap: 0.3em;
  align-items: center;
  transition: 0.3s;
  font-size: min(1.2vw, 17.28px);
  white-space: nowrap;
}